@mixin flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
@mixin content {
   width: 85%;
   min-width: 1200px;
}
@mixin bg-image {
   background-size: contain;
   background-repeat: no-repeat;
}

html, body, #app {
   @include flex-center;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;

   .content {
      @include content;
      @include flex-center;
   }
}

@import "level/music.scss";
@import "level/monster.scss";
@import "level/maze.scss";
@import "pages/foreword.scss";
@import "pages/lobby.scss";