@mixin flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
@mixin content {
   width: 85%;
   min-width: 1000px;
}
@mixin bg-image {
   background-size: contain;
   background-repeat: no-repeat;
}

html, body, #app {
   @include flex-center;
   @include bg-image;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;

   background-image: url('../assets/images/pattern-3.png');
   background-size: 10%;
   background-repeat: repeat;
   z-index: 0;

   font-family: 'Chakra Petch', 'Noto Sans TC', sans-serif;
   // font-family: 'Chakra Petch', sans-serif;
   // font-family: 'Noto Sans TC', sans-serif;
   letter-spacing: 1.5px;
   // text-align: center;

   -webkit-tap-highlight-color: transparent;
   user-select: none;

   .screen {
      position: relative;
      width: 100%;
      z-index: 0;
      aspect-ratio: 1920/1080;
      border-top: 7.5px solid #322f2e;
      border-bottom: 7.5px solid #322f2e;
      background-color: #322f2e;

      .content {
         @include content;
         @include flex-center;
         margin: 0 auto;
      }
   }
}

@import "level/music.scss";
@import "level/monster.scss";
@import "level/maze.scss";
@import "pages/foreword.scss";
@import "pages/lobby.scss";