.paper {
    @include flex-center;
    @include bg-image;
    position: absolute;
    aspect-ratio: 1375/1438;
    width: 15vw;
    font-size: 20px;
    background-image: url('../assets/images/paper.png');
    z-index: 100;
    padding: 5% 11% 15% 9%;

    display: none;
    
    &.show {
        display: flex;
    }
}
.treasure{
    @include flex-center;
    @include bg-image;
    position: absolute;
    aspect-ratio: 2177/1473;
    width: 40vw;
    font-size: 20px;
    background-image: url('../assets/images/board.png');
    z-index: 100;
    // padding: 5% 11% 15% 9%;
    box-sizing: border-box;

    display: none;
    
    &.show {
        display: flex;
    }
    &.open {
        .box {
            background-image: url('../assets/images/treasure-open.png');
        }
    }

    .box {
        @include bg-image;
        aspect-ratio: 518/468;
        width: 30%;
        background-image: url('../assets/images/treasure-close.png');
    }
    .talk {

    }

    .monkey-detail {
        @include bg-image;
        position: absolute;
        top: 40%;
        left: 80%;
        aspect-ratio: 1224/2278;
        width: 35%;
        background-image: url('../assets/images/monkey-detail.png');
    }
    .btn-area {
        @include flex-center;
        justify-content: space-around;
        width: 80%;

        button {
            @include bg-image;
            border: none;
            background-color: transparent;
            background-image: url('../assets/images/button.png');
            aspect-ratio: 168/56;
            width: 35%;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}
canvas {
    background-color: #000;
}